@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 0px; /* Adjust as needed */
}

.project-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
}

.project-list-container > .project-list {
  background-color: #57BC90;
  color: white;
  flex: 0 0 calc(25% - 20px);
  height: 20rem;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;

}

.project-list {
  overflow: hidden;
}

.project-list-organizer {
  position: relative;
  font-size: 20px;
  color: white;
  top: -5rem;
}

.project-list-title {
  position: relative;
  font-size: 40px;
  color: white;
  top: -1.5rem;
}

.project-list-desc {
  position: relative;
  font-size: 20px;
  top: -6.5rem;
  color: white;
}

.project-list-des {
  text-decoration: none;
}

.project-list-container-div {
  text-align: center;
}

.project-list-container-title {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: 900;
}




.project-list:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}