
.login {
    position: relative;
    width: 35vh;
    height: 40vh;
    top: 24vh;
    background-image: linear-gradient(to right, #77C9D4, #57BC90);
    overflow: hidden;
    color: white;
    border-radius: 10px 100px;
    border: 5px solid white;
}

.login__container {
    padding: 2rem;
    border-radius: 10px;
  }
  
  .login h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: -1rem;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
  }
  
  .login form h5 {
    margin-top: 1rem;
  }
  
  .login form input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: none ;
    border-radius: 5px;
    height: 1.5rem;
  }
  .login form input:focus {
    outline: none;
  }
  
  .login__signInButton {
    margin-top: 5rem;
  background-image: linear-gradient(to right, #3399a7, #4bae83);
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    height: 3rem;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
  }
  .login__signInButton:hover {
    transform: translateY(-5px);
  }
  .login__registerButton {
    margin-top: 1rem;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    
  }