
.project-detail-container {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0px;
    color: white;
    text-align: center;
    padding: 10px;
}
.project-details-container-content {
  background-color: #57BC90;
  width: 100vh;
  height: 100vh;
  border-radius: 5px;
}
.project-details-title {
  font-size: 10vh;
}
  .project-detail-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .project-detail-container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .project-detail-container p:last-child {
    margin-bottom: 0;
  }
  
  .project-detail-container a {
    color: #57BC90;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .project-detail-container a:hover {
    color: #41a329;
  }

