
.project-detail-container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    height:100%;
    overflow: auto;    padding: 0px;
    color: white;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right, #58dced, #38a978);
    min-height:100%;

    
  }
  *::-webkit-scrollbar {
    width: 0px; /* Adjust as needed */
  }
.project-details-container-content {
  background-color: #57BC90;
  width: 100vh;
  height: 100vh;
  border-radius: 5px;
}
.project-details-title {
  font-size: 10vh;
}
  .project-detail-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .project-detail-container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .project-detail-container p:last-child {
    margin-bottom: 0;
  }
  
  .project-detail-container a {
    color: #57BC90;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .project-detail-container a:hover {
    color: #41a329;
  }
  .project-detail-button {
    background-color: #58dced;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  .project-detail-button:hover {
    background-color: #46afbd;
  }
  .project-detail-buttons {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom:10px;
  }

